/* Variables */
.spacing-xlarge {
  padding: xlarge; }

.spacing-large {
  padding: large; }

.spacing-medium {
  padding: medium; }

.spacing-small {
  padding: small; }

.spacing-xsmall {
  padding: xsmall; }

.c-red {
  color: red; }

.c-white {
  color: white; }

.c-black {
  color: black; }

.c-blue {
  color: blue; }

.fz-large {
  font-size: large; }

.fz-medium {
  font-size: medium; }

.fz-small {
  font-size: small; }

/* Imports */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Globals */
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  color: #0b0c0d; }

a {
  text-decoration: none;
  color: #040101;
  display: inline-block; }

ul {
  list-style-type: none; }

/* HELPERS */
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.containernav {
  max-width: 1200px;
  margin: 0 auto; }

.container {
  max-width: 1800px;
  margin: 0 auto; }

.txt_center {
  text-align: center; }

/*
  @mixin flex($direction, $justify, $align, $gap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
  }
*/
/* HEADER & NAVBAR */
header {
  width: 100%;
  height: 200px;
  background-color: #262626; }
  header .navbar {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem; }
    header .navbar .buscador {
      height: 40px;
      width: 400px;
      border-radius: 10px; }
  header .menu {
    flex-basis: 30%;
    justify-content: space-between; }
    header .menu .menu__item .menu__link {
      font-size: 1.8em;
      padding: 1rem;
      position: relative; }

.bodyindex .libros {
  gap: 10px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bodyindex .libros .card {
    position: relative;
    width: 350px;
    height: 190px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s; }
    .bodyindex .libros .card:hover {
      height: 450px; }
      .bodyindex .libros .card:hover .imgBx {
        width: 250px;
        height: 250px; }
      .bodyindex .libros .card:hover .content .details {
        transform: translateY(0px); }
    .bodyindex .libros .card .imgBx {
      position: absolute;
      left: 50%;
      top: -50px;
      transform: translateX(-50%);
      width: 150px;
      height: 150px;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
      overflow: hidden;
      transition: 0.5s; }
      .bodyindex .libros .card .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .bodyindex .libros .card .content {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      overflow: hidden; }
      .bodyindex .libros .card .content .details {
        padding: 40px;
        text-align: center;
        width: 100%;
        transition: 0.5s;
        transform: translateY(150px); }
        .bodyindex .libros .card .content .details h2 {
          font-size: 3em;
          font-weight: 600;
          color: #555;
          line-height: 1.2em; }
          .bodyindex .libros .card .content .details h2 span {
            font-size: 0.75em;
            font-weight: 500;
            opacity: 0.5; }
        .bodyindex .libros .card .content .details .data {
          display: flex;
          justify-content: space-between;
          margin: 20px 0; }
          .bodyindex .libros .card .content .details .data h3 {
            font-size: 1.4em;
            color: #555;
            line-height: 1.2em;
            font-weight: 600; }
            .bodyindex .libros .card .content .details .data h3 span {
              font-size: 0.85em;
              font-weight: 400;
              opacity: 0.5; }
        .bodyindex .libros .card .content .details .actionBtn {
          display: flex;
          justify-content: space-between; }
          .bodyindex .libros .card .content .details .actionBtn button {
            padding: 10px 30px;
            border-radius: 5px;
            border: none;
            outline: none;
            font-size: 1em;
            font-weight: 500;
            background: #e80007;
            color: #fff;
            cursor: pointer; }
            .bodyindex .libros .card .content .details .actionBtn button:nth-child(2) {
              border: 1px solid #e80007;
              color: #999;
              background: #fff; }

.bodyindex .carrito_simulador {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .bodyindex .carrito_simulador .carrito {
    background-color: #999;
    width: 900px;
    height: 350px; }

.bodyindex .biblioteca {
  margin-top: 50px;
  background-color: #e80007;
  height: 600px;
  width: 500px;
  display: flex;
  justify-content: center; }
  .bodyindex .biblioteca span {
    font-size: large; }
  .bodyindex .biblioteca .menu_libros .menuTab {
    width: 100%;
    height: 80px;
    display: flex;
    padding-left: 30px;
    align-items: center;
    background-color: #c1c1c1;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none; }
    .bodyindex .biblioteca .menu_libros .menuTab:hover {
      background-color: black;
      color: white;
      transform: scale(1.08); }
    .bodyindex .biblioteca .menu_libros .menuTab .menuTabImg {
      width: 50px;
      margin-right: 5px; }
    .bodyindex .biblioteca .menu_libros .menuTab .menuTabImg img {
      width: 100%; }
    .bodyindex .biblioteca .menu_libros .menuTab .menuTabText {
      font-size: 16px;
      font-weight: 500; }

.bodyindex .team {
  height: 90%;
  min-width: 165px;
  width: 15%;
  margin-right: 3%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #c1c1c1;
  border-radius: 10px; }

.bodyindex .teamTitle {
  font-size: 20px;
  font-weight: 500;
  color: white; }

.bodyindex .teamContainer {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.bodyindex .teamPokemon {
  width: 60px;
  height: 60px;
  background-color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  overflow: hidden; }

.bodyindex .teamPokemon img {
  width: 90%; }

.bodyindex .teamCTA {
  width: 40%;
  height: 30px;
  background-color: gray;
  color: white;
  border: 1px solid darkgray;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer; }

.bodyindex .teamCTA:hover {
  background-color: black;
  color: white; }
